.summary-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-details {
  padding: 140px 0px;
}
.details-section {
  display: flex;
}
.summary-text {
  width: 50%;
  text-align: center;
  margin-left: 40px;
}

.summary-text h2{
  font-size: 35px;
  line-height: 1.1;
}
.summary-text p{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.button-style {
  text-align: center;
  position: relative;
  margin-top: 15px;
  color: #fff;
  background: #333;
  padding: 10px 65px;
  border-radius: 4px;
  border: none;
  transition: 0.5s ease;
}
.ticket-boking p {
  padding-bottom: 5px;
  margin: 0;
}
.form-style form{
  width: 60%;
  margin-top: 10px;
  flex-direction: column;
  display: flex;
  flex-wrap:  wrap;
}
.form-style input{
  padding: 5px 10px;
  margin-bottom: 10px;
}
