
.bg {
  background-color: #00b3ff;
}

.details {
  align-items: center;
  color: #fff;
  justify-content: space-between;
  display: flex;
}
.contact-details {
  align-items: center;
  gap: 30px;
  display: flex;
}
.contact-details p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.contact-details p i {
  font-size: 12px;
  margin-right: 10px;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-links ul {
  align-items: center;
  margin: 5px;
  display: flex;
  gap: 20px;
  list-style: none;
}

.social-links ul li a {
  color: #fff;
}
